<a href="https://colab.research.google.com/github/kinshuk-code-1729/Python-Training-Notebooks/blob/main/Day_02_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day 2 Notebook**

**Find LCM of two numbers**

In [1]:
x = int(input("Enter 1st number : "))
y = int(input("Enter 2nd number : "))
if y > x :
  y,x = x,y
for k in range(y, 1+(y*x),y) :
  if k % x == 0:
    print("LCM of",x,"and",y,"is :",k)
    break

Enter 1st number : 12
Enter 2nd number : 15
LCM of 15 and 12 is : 60

**Find HCF of two numbers**

In [2]:
p = int(input("Enter 1st num : "))
q = int(input("Enter 2nd num : "))
j = 1
while (j <= p and j <= q) :
  if q % j == 0 and p % j == 0 :
    GCD = j
  j +=1
print("HCF of",p,"and",q,"is :",GCD)

Enter 1st num : 12
Enter 2nd num : 15
HCF of 12 and 15 is : 3

**Nested-Loop Patterns**

In [3]:
for i in range(10):
  print(1729)

1729
1729
1729
1729
1729
1729
1729
1729
1729
1729

In [4]:
for i in range(10):
  print(1729,end=' ')

1729 1729 1729 1729 1729 1729 1729 1729 1729 1729

In [5]:
for j in range(10):
  for i in range(10):
    print(1729,end=' ')
  print()

1729 1729 1729 1729 1729 1729 1729 1729 1729 1729
1729 1729 1729 1729 1729 1729 1729 1729 1729 1729
1729 1729 1729 1729 1729 1729 1729 1729 1729 1729
1729 1729 1729 1729 1729 1729 1729 1729 1729 1729
1729 1729 1729 1729 1729 1729 1729 1729 1729 1729
1729 1729 1729 1729 1729 1729 1729 1729 1729 1729
1729 1729 1729 1729 1729 1729 1729 1729 1729 1729
1729 1729 1729 1729 1729 1729 1729 1729 1729 1729
1729 1729 1729 1729 1729 1729 1729 1729 1729 1729
1729 1729 1729 1729 1729 1729 1729 1729 1729 1729

In [6]:
# Square-Pattern
num = int(input("Enter a num : "))
for j in range(num):
  for i in range(num):
    print('@',end=' ')
  print()

Enter a num : 5
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @

In [7]:
# Triangle-Pattern
num = int(input("Enter a num : "))
for j in range(num):
  for i in range(num-j):
    print('*',end=' ')
  print()

Enter a num : 5
* * * * *
* * * *
* * *
* *
*

# **Lists in Python**

In [8]:
l = [] # lists are mutable i.e. values can be changed in place
print("l =",l)
print(type(l))

l = []
<class 'list'>

**Inserting into lists**

In [9]:
l.append(20) # append adds single value at the last position of the existing list
print("l =",l)

l = [20]

In [10]:
l.append(14)
l.append(10)
print("l =",l)

l = [20, 14, 10]

In [11]:
l.append(-5)
print("l =",l)

l = [20, 14, 10, -5]

In [12]:
l.append('Kinshuk')
print("l =",l)

l = [20, 14, 10, -5, 'Kinshuk']

In [13]:
l.append([45,34,21])
print("l =",l)

l = [20, 14, 10, -5, 'Kinshuk', [45, 34, 21]]

In [14]:
l.append(True)
print("l =",l)

l = [20, 14, 10, -5, 'Kinshuk', [45, 34, 21], True]

In [15]:
l.append(6+5j)
print("l =",l)

l = [20, 14, 10, -5, 'Kinshuk', [45, 34, 21], True, (6+5j)]

In [16]:
l.append(3.67)
print("l =",l)

l = [20, 14, 10, -5, 'Kinshuk', [45, 34, 21], True, (6+5j), 3.67]

In [17]:
l2 = [34,78,14]
l2.extend([31,98,33]) # extend adds a list at the last of existing list and doesn't creates new list
print("l2 =",l2)

l2 = [34, 78, 14, 31, 98, 33]

In [18]:
l2.insert(3,None) # add element at the specified index without overwriting existing element previously on that index
print("l2 =",l2)

l2 = [34, 78, 14, None, 31, 98, 33]

In [19]:
print(l[3])
print(l[4:8]) # List-Slicing

-5
['Kinshuk', [45, 34, 21], True, (6+5j)]

**List Slicing**

In [20]:
print(l[0:5:1])
print(l[0:])
print(l[:])
print(l[0:7])

[20, 14, 10, -5, 'Kinshuk']
[20, 14, 10, -5, 'Kinshuk', [45, 34, 21], True, (6+5j), 3.67]
[20, 14, 10, -5, 'Kinshuk', [45, 34, 21], True, (6+5j), 3.67]
[20, 14, 10, -5, 'Kinshuk', [45, 34, 21], True]

*Print a list in reverse-order*

In [21]:
print(l[::-1])

[3.67, (6+5j), True, [45, 34, 21], 'Kinshuk', -5, 10, 14, 20]

*Copying List elements*

In [22]:
#Shallow Copy
xl = [45,34,78,31,55]
yl = xl
yl.append(455)
print('Original list :',xl)
print('Copied new list :',yl)

Original list : [45, 34, 78, 31, 55, 455]
Copied new list : [45, 34, 78, 31, 55, 455]

In [23]:
#Deep Copy Method 1
xl = [45,34,78,31,55]
yl = xl.copy()
yl.append(455)
print('Original list :',xl)
print('Copied new list :',yl)

Original list : [45, 34, 78, 31, 55]
Copied new list : [45, 34, 78, 31, 55, 455]

In [24]:
#Deep Copy Method 2
xl = [45,34,78,31,55]
yl = xl[:]
yl.append(455)
print('Original list :',xl)
print('Copied new :',yl)

Original list : [45, 34, 78, 31, 55]
Copied new : [45, 34, 78, 31, 55, 455]

**WAP to copy elements of a list into another list without using shallow or deep copy**

In [25]:
lst1 = [51,98,34,75,79,35,14]
lst2 = []
for k in lst1:
  lst2.append(k)
print("new copied list :",lst2)

new copied list : [51, 98, 34, 75, 79, 35, 14]

**WAP to copy square of elements of a list into another list without using shallow or deep copy**

In [26]:
lst1 = [51,98,34,75,79,35,14]
lst2 = []
for k in lst1:
  lst2.append(k**2)
print("new copied list :",lst2)

new copied list : [2601, 9604, 1156, 5625, 6241, 1225, 196]

**WAP to copy square of elements which are greater than 2 and if less than two than 2 then copy the elemnent itself of a list into another list without using shallow or deep copy**

In [27]:
lst1 = [-1,-6,8,96,45,1]
lst2 = []
for k in lst1:
  if k>2:
    lst2.append(k**2)
  else :
    lst2.append(k)
print("new copied list :",lst2)

new copied list : [-1, -6, 64, 9216, 2025, 1]

*WAP to copy elements of a list into another list if elements is divisible by 2 and 5*

In [28]:
lst1 = [-1,-10,8,90,60,1]
lst2 = []
for k in lst1:
  if k % 2 == 0 and k % 5 == 0 :
    lst2.append(k**2)
print("new copied list :",lst2)

new copied list : [100, 8100, 3600]

***Microsoft Interview Question***

*WAP to find missing values in existing list and append them in new list*

In [29]:
lst1 = [61,63,65,67,68,70]
lst2 = []
for k in range(lst1[0],lst1[-1]):
  if k not in lst1:
    lst2.append(k)
print("new copied list :",lst2)

new copied list : [62, 64, 66, 69]

# List Comprehension

In [30]:
lst1 = [54,44,64,16,77,21]
lst2 = [j for j in lst1]
print("lst2 :",lst2)

lst2 : [54, 44, 64, 16, 77, 21]

In [31]:
lst1 = [54,44,64,16,77,21]
lst2 = [j**2 for j in lst1]
print("lst2 :",lst2)

lst2 : [2916, 1936, 4096, 256, 5929, 441]

In [32]:
lst1 = [-1,-10,8,90,60,1]
lst2 = [k for k in lst1 if k % 2 == 0 and k % 5 == 0]
print("list 2 :",lst2)

list 2 : [-10, 90, 60]

In [33]:
lst1 = [-1,-6,8,96,45,1]
lst2 = [k**2 if k>2 else k for k in lst1]
print("list 2 :",lst2)

list 2 : [-1, -6, 64, 9216, 2025, 1]

***Deletion from a list***

In [34]:
fac = ['Rachel','Jack','Jane','Baichung','Joseph','Robert']
print("Initially list is :",fac)
fac.pop()
print("list is after deletion :",fac)

Initially list is : ['Rachel', 'Jack', 'Jane', 'Baichung', 'Joseph', 'Robert']
list is after deletion : ['Rachel', 'Jack', 'Jane', 'Baichung', 'Joseph']

In [35]:
fac.pop(4)
print(fac)

['Rachel', 'Jack', 'Jane', 'Baichung']

In [36]:
fac.remove('Jane')
print(fac)

['Rachel', 'Jack', 'Baichung']

In [37]:
fac.clear()
print(fac)

[]

In [38]:
fac = ['Rachel', 'Jack', 'Jane', 'Baichung', 'Joseph', 'Robert']
del fac # deletes the entire structure of list
print(fac)

NameError: ignored

In [39]:
mylist = [20, 14, 10, -5, 'Kinshuk', [45, 34, 21], True, (6+5j), 3.67]
print(mylist[5][2])

21

***WAP to add digits of a number***

In [40]:
num = int(input("Enter a number : "))
dig_sum = 0
temp = num
while num != 0 :
  rem = num % 10
  dig_sum += rem
  num //= 10
print("Sum of digits of number",temp,"is",dig_sum)

Enter a number : 11
Sum of digits of number 11 is 2