<a href="https://colab.research.google.com/github/kinshuk-code-1729/Python-Training-Notebooks/blob/main/Day_11_PT02_Destructor_Abstraction_%26_Inheritance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Day 11 Notebook 2***
## **Constructor & Destructor , Inheritance , Abstraction and Various Methods in Python**

In [1]:
class Cons_Des:
  def __init__(self):
    print("Constructor called here...")

  def __show__(self):
    print("Method show called here...")

  def __del__(self): # destructor 
    print("Destructor called here...")

cd = Cons_Des()
cd.__show__()

Constructor called here...
Method show called here...

***How to modify Existing private attribute.***

In [2]:
class velocity :
  def __init__(self):
    self.vel = 18
  def velo_get(self):
    return self.vel
    
V = velocity()
V.velo_get()

18

In [3]:
class velocity :
  def __init__(self):
    self.vel = 18
  def velo_get(self):
    return self.vel
    
V = velocity()
V.vel = 54
V.velo_get()

54

In [4]:
class velocity :
  def __init__(self):
    self.vel = 18
    self.__veloset = 41 # setting private attribute

  def velo_get(self):
    return self.vel # fetching the value

  def velo_set(self):
    return self.__veloset 
    
V = velocity()
V.vel = 546
V.velo_set() ,V.velo_get() # private attribute changed

(41, 546)

In [5]:
class velocity :
  def __init__(self):
    self.vel = 18
    self.__veloset = 41

  def velo_get(self):
    return self.vel

  def velo_set(self):
    return self.__veloset
    
  def set_lim(self,new_velo):
    self.__veloset = new_velo # changing the value of private attribute using new variable
    
V = velocity()
V.vel = 546
V.set_lim(255)
V.velo_set() ,V.velo_get()

(255, 546)

***Concept of Abstraction and Abstract Classes / Methods***

In [6]:
from abc import ABC , abstractmethod
class fauna(ABC):
  @abstractmethod # can't be used in this class because class is abstract one.
  def tiger(self):
    pass

class wild(fauna):
  pass

wa = wild()
wa.tiger()

TypeError: ignored

In [7]:
from abc import ABC , abstractmethod
class fauna(ABC):
  @abstractmethod
  def tiger(self): # can't be used in this class because class is abstract one.
    pass # declared but not defined

class wild(fauna):
  def tiger(self): # abstract method can be used outside the abstract class
    print('Found in Sunderban Delta')

wa = wild()
wa.tiger()

Found in Sunderban Delta

***Inheritance***

In [8]:
class Emp:
  inc = 1.22
  def __init__(self,fname,lname,sal):
    self.fname = fname
    self.lname = lname
    self.sal = sal

  def fullname(self):
    return '{} {}'.format(self.fname,self.lname)

  def sal_rise(self):
    self.sal = int(self.sal * self.inc)

e1 = Emp('Steve','Smith',1250000)
e2 = Emp('Glenn','Maxwell',950000)
print('Previous salary')
print(e1.fullname())
print("Salary =",e1.sal)
print(e2.fullname())
print("Salary =",e2.sal)

e1.sal_rise() # function call
e2.sal_rise() # function call

print('Salary After Increment')
print(e1.fullname())
print("Salary =",e1.sal)
e1.sal_rise()
print(e2.fullname())
print("Salary =",e2.sal)

Previous salary
Steve Smith
Salary = 1250000
Glenn Maxwell
Salary = 950000
Salary After Increment
Steve Smith
Salary = 1525000
Glenn Maxwell
Salary = 1159000

In [9]:
class DEV(Emp): # 'DVP' class inherits 'Emp' class 
  pass

e1 = DEV('Steve','Smith',1250000)
e2 = DEV('Glenn','Maxwell',950000)
print('Previous salary')
print(e1.fullname())
print("Salary =",e1.sal)
print(e2.fullname())
print("Salary =",e2.sal)

e1.sal_rise() # function call
e2.sal_rise() # function call

print('Salary After Increment')
print(e1.fullname())
print("Salary =",e1.sal)
e1.sal_rise()
print(e2.fullname())
print("Salary =",e2.sal)

Previous salary
Steve Smith
Salary = 1250000
Glenn Maxwell
Salary = 950000
Salary After Increment
Steve Smith
Salary = 1525000
Glenn Maxwell
Salary = 1159000

In [10]:
class DEV(Emp):
  inc = 2.08 # everything will be same due to inheritance but new attribute value will be taken

e1 = DEV('Steve','Smith',1250000)
e2 = DEV('Glenn','Maxwell',950000)
print('Previous salary')
print(e1.fullname())
print("Salary =",e1.sal)
print(e2.fullname())
print("Salary =",e2.sal)

e1.sal_rise() # function call
e2.sal_rise() # function call

print('Salary After Increment')
print(e1.fullname())
print("Salary =",e1.sal)
e1.sal_rise()
print(e2.fullname())
print("Salary =",e2.sal)

Previous salary
Steve Smith
Salary = 1250000
Glenn Maxwell
Salary = 950000
Salary After Increment
Steve Smith
Salary = 2600000
Glenn Maxwell
Salary = 1976000

In [11]:
class DEV(Emp):
  inc = 2.31
  def __init__(self,fname,lname,sal,PL):
    Emp.__init__(self,fname,lname,sal)
    self.PL = PL

e1 = DEV('Steve','Smith',1250000,'C++')
e2 = DEV('Glenn','Maxwell',950000,'Java')
print('Previous salary')
print(e1.fullname())
print("Salary =",e1.sal)
print(e2.fullname())
print("Salary =",e2.sal)

e1.sal_rise() # function call
e2.sal_rise() # function call

print('Salary After Increment')
print(e1.fullname())
print("Salary =",e1.sal)
e1.sal_rise()
print(e2.fullname())
print("Salary =",e2.sal)

Previous salary
Steve Smith
Salary = 1250000
Glenn Maxwell
Salary = 950000
Salary After Increment
Steve Smith
Salary = 2887500
Glenn Maxwell
Salary = 2194500

In [12]:
class DEV(Emp):
  inc = 2.31
  def __init__(self,fname,lname,sal,PL):
    super().__init__(fname,lname,sal)  # using "super class()"
    self.PL = PL

e1 = DEV('Steve','Smith',1250000,'C++')
e2 = DEV('Glenn','Maxwell',950000,'Java')
print('Previous salary')
print(e1.fullname())
print("Salary =",e1.sal)
print(e2.fullname())
print("Salary =",e2.sal)

e1.sal_rise() # function call
e2.sal_rise() # function call

print('Salary After Increment')
print(e1.fullname())
print("Salary =",e1.sal)
e1.sal_rise()
print(e2.fullname())
print("Salary =",e2.sal)

Previous salary
Steve Smith
Salary = 1250000
Glenn Maxwell
Salary = 950000
Salary After Increment
Steve Smith
Salary = 2887500
Glenn Maxwell
Salary = 2194500

In [13]:
class Managers(Emp):
  def __init__(self,fname,lname,sal,Empl = None):
    super().__init__(fname,lname,sal)
    if Empl is None :
      self.Empl = []
    else:
      self.Empl = Empl
  
  def Emp_Add(self,emp):
    if emp not in self.Empl:
      self.Empl.append(emp)

  def Emp_Del(self,emp):
    if emp in self.Empl:
      self.Empl.remove(emp)

  def Emp_Show(self):
    for emp in self.Empl:
      print('---->',emp.fname)

e1 = DEV('Steve','Smith',1250000,'C++')
e2 = DEV('Glenn','Maxwell',950000,'Java')
mngr = Managers('Shane','Watson',469666000,[e1])
print(mngr.sal)
print("List of Employees after adding all employees ..........")
mngr.Emp_Add(e2)
mngr.Emp_Show()
print("List of Employees after deleting any employees ..........")
mngr.Emp_Del(e1)
mngr.Emp_Show()

469666000
List of Employees after adding all employees ..........
----> Steve
----> Glenn
List of Employees after deleting any employees ..........
----> Glenn

In [14]:
def ADD_EMP(emp,emplst = []):
  emplst.append(emp)
  print(emplst)

emplst = ['Ramesh','Suresh']
ADD_EMP('Brijesh')
ADD_EMP('Rajesh')
ADD_EMP('Kamlesh')
print(emplst)

['Brijesh']
['Brijesh', 'Rajesh']
['Brijesh', 'Rajesh', 'Kamlesh']
['Ramesh', 'Suresh']

In [15]:
def ADD_EMP(emp,emplst = None):
  if emplst is None : # cheking for None value
    emplst = [] # defining an empty list
  emplst.append(emp)
  print(emplst)

emplst = ['Ramesh','Suresh']
ADD_EMP('Brijesh')
ADD_EMP('Rajesh')
ADD_EMP('Kamlesh')
print(emplst)

['Brijesh']
['Rajesh']
['Kamlesh']
['Ramesh', 'Suresh']

***repr* and *str* methods.**

In [16]:
# "__repr__" & "__str__" both produce textual representation of object.
class Emp:
  inc = 1.22
  def __init__(self,fname,lname,sal):
    self.fname = fname
    self.lname = lname
    self.sal = sal

  def fullname(self):
    return '{} {}'.format(self.fname,self.lname)

  def sal_rise(self):
    self.sal = int(self.sal * self.inc)
  
# if both 'repr' and 'str' are used in a code then 'str' takes precedence.
  def __repr__(self): # used for debugging purposes by the developers
    return '{} {}'.format(self.fname,self.lname)

  def __str__(self): # used generally by users
    return '{}---> {}'.format(self.fullname(),self.sal)

e1 = Emp('Steve','Smith',1250000)
e2 = Emp('Glenn','Maxwell',950000)
print(e1)

Steve Smith---> 1250000

### ***Different Methods in OOPS.***

In [17]:
class M_class:
  def method(self):
    return 'Instance Method Called',self

  @classmethod
  def cls_method(cls):
    return 'Class Method Called',cls

  @staticmethod
  def st_method():
    return 'Static Method Called'

O = M_class()
print(O.method())
print(O.cls_method())
print(O.st_method())

('Instance Method Called', <__main__.M_class object at 0x7fa6a2d60e10>)
('Class Method Called', <class '__main__.M_class'>)
Static Method Called

In [18]:
class Noodles:
  def __init__(self, ingt):
    self.ingt = ingt

  def __repr__(self):
    return f'Noodles({self.ingt})'

  @classmethod
  def __hakkanoodles__(cls,self):
    self.type = type

  def noodles_variant(self, types):
    return types

  @classmethod
  def MakeNoodles(cls):
    return cls(['Cabbage','Chilli-Sauce','Noodles','Chicken-flakes'])

CN = Noodles('Chicken Fried Noodles')
VN = Noodles('Veg Fried Noodles')
print(CN.noodles_variant('Chicken Fried Noodles'))
print(VN.noodles_variant('Veg Fried Noodles'))

Chicken Fried Noodles
Veg Fried Noodles

In [19]:
from math import pi
class Donut:
  def __init__(self,rad,ing):
    self.rad = rad
    self.ing = ing

  def area(self):
    return self.Donut_area(self.rad)

  @staticmethod
  def Donut_area(r):
    return (4/3)*pi*r**3

D = Donut(10,['Cream','Chocolate'])
print("Area of spherical Donut =",D.area(),"sq. units")

Area of spherical Donut = 4188.790204786391 sq. units