<a href="https://colab.research.google.com/github/kinshuk-code-1729/Python-Training-Notebooks/blob/main/Day_03_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***DAY 3 Notebook***

***Strings in Python***

In [1]:
str1 = 'Pearl' # A string encoded in single-quotes
print(str1)
print(type(str1))

Pearl
<class 'str'>

In [2]:
str1 = "Pearl" # A string encoded in double-quotes
print(str1)
print(type(str1))

Pearl
<class 'str'>

In [3]:
str1 = '''Pearl''' # A string encoded in triple-quotes
print(str1)
print(type(str1))

Pearl
<class 'str'>

In [4]:
str1 = """Pearl""" # A string encoded in multiple double-quotes
print(str1)
print(type(str1))

Pearl
<class 'str'>

In [5]:
mystr = "My Favourite language is Python"
print(mystr)

My Favourite language is Python

In [6]:
mystr = '''"My Favourite language is Python"'''
print(mystr)

"My Favourite language is Python"

**Traversing a String in Python**

In [7]:
mystr2 = 'Spyder'
for k in mystr2 : # Each element of string is printed on separate line
  print(k)

S
p
y
d
e
r

In [8]:
mystr3 = 'Jupyter'
print(mystr3[0])  # Accessing a specific String Element through indexing

J

*Omit the comma at the last iteration on finding factorial of a number.*

In [9]:
num = int(input("Enter any number : "))
fact = 1
for i in range(1,num+1):
    fact *= i
    if i != num :
      print(fact,end=',')
    else :
      print(fact,end='')

Enter any number : 10
1,2,6,24,120,720,5040,40320,362880,3628800

*Fibonacci Series from any two user defined numbers*

In [11]:
t1 = int(input("Enter first term : "))
t2 = int(input("Enter second term : "))
nt = int(input("Enter number upto which Fibonacci Series is to be find : "))
print("The generated Fibonacci Series is............")
for j in range(1,nt+1):
  t1,t2 = t2,t1+t2
  print(t1,end=' ')

Enter first term : 10
Enter second term : 50
Enter number upto which Fibonacci Series is to be find : 15
The generated Fibonacci Series is............
50 60 110 170 280 450 730 1180 1910 3090 5000 8090 13090 21180 34270

**Creating a list of strings**

In [12]:
lst = 'Anaconda'
print("List is :",list(lst))

List is : ['A', 'n', 'a', 'c', 'o', 'n', 'd', 'a']

# *Various String-Manipulation Methods (String Attributes)*

âœ´ *Setting attributes follows series connection*

In [13]:
# UPPER-CASE
str1 = 'python is my programming language'
print(str1.upper())

PYTHON IS MY PROGRAMMING LANGUAGE

In [14]:
# LOWER-CASE
str1 = 'PYTHON IS MY PROGRAMMING LANGUAGE'
print(str1.lower())

python is my programming language

In [15]:
# TITLE-CASE
str1 = 'python is my programming language'
print(str1.title()) #changes 1st letter of each word with uppercase value

Python Is My Programming Language

In [16]:
# SENTENCE-CASE
str1 = 'python is my programming language'
print(str1.capitalize()) #changes 1st letter of 1st word with uppercase value

Python is my programming language

In [17]:
# SWAP-CASE
str1 = 'pYtHoN iS My pRoGraMmiNg LaNgUaGe'
print(str1.swapcase()) #changes uppercase letters to lowercase & vice-versa

PyThOn Is mY PrOgRAmMInG lAnGuAgE

In [18]:
# Combined use of both 'upper()' and 'title()' attribute
str1 = 'python is my programming language'
print(str1.title().upper())

PYTHON IS MY PROGRAMMING LANGUAGE

In [19]:
# Updating a existing portion of string with some another string value
str1 = 'python is my programming language'
print(str1.replace('python','C++')) # 'replace' method updates the sub-string with new sub-string

C++ is my programming language

**Program to check whether input string is a *Palindrome* string or not**

In [20]:
# PALINDROME CODE
string = input("Enter your string :")
string = string.upper() # we can also use 'lower()' function.
strrev = reversed(string)
if list(string) == list(strrev):
  print(string,"is a palindrome")
else:
  print(string,"is not a palindrome")

Enter your string :MalaYaLam
MALAYALAM is a palindrome

**Program to store the sum of digits of all elements of a list as elements in another empty-list**

In [21]:
# Logic-1 :---> For 2-digit values
mylst = [23,56,48,62,37]
ds_lst = []
for k in mylst :
  s = str(k)
  ds = int(s[0])+int(s[1])
  ds_lst.append(ds)
print(ds_lst)

[5, 11, 12, 8, 10]

In [22]:
# Logic-2 :---> For any digit number (Generalised-Form)
mylst = [23,5,451518,62,37]
ds_lst = []
for k in mylst :
  s = 0
  for dig in str(k):
    s += int(dig)
  ds_lst.append(s)
print(ds_lst)

[5, 5, 24, 8, 10]

**Program to remove duplicate elements from a list and insert unique elements in the new list.**

In [23]:
# List with distinct-elements
mylist2 = [12,65,78,65,35,65,12]
dist_list = []
for j in mylist2 :
  if j not in dist_list :
    dist_list.append(j)
print(dist_list)

[12, 65, 78, 35]

**Program to find the sum of digits of a number until we get a single-digit number at last.**

For example if user inputs **7868** then answer will be .............................................................

*   *7 + 8 + 6 + 8 = 29*
*   *2 + 9 = 11*
*   *1 + 1 = 2*

**Final Sum = 2**

In [26]:
# Logic-1
num = int(input("Enter a number : "))
while num // 10 != 0 : # Check until sum is single digit
  sum = 0
  while num != 0 : # Finding sum of digits until last digit is reached
    rem = num % 10
    sum += rem
    num //= 10
  print("Sum =",sum)
  num = sum
print("Final Sum =",sum)

Enter a number : 8678
Sum = 29
Sum = 11
Sum = 2
Final Sum = 2

In [27]:
# Logic 2
num = int(input("Enter a number : "))
ds = 0
while num != 0:
  rem = num % 10
  ds += rem
  num //= 10
if ds == 0:
  print("Sum of Digits = 0")
if ds % 9 == 0:
  print("Sum of Digits = 9") 
else:
  ds %= 9
print("Sum of Digits =",ds)

Enter a number : 5578
Sum of Digits = 7