<a href="https://colab.research.google.com/github/kinshuk-code-1729/Python-Training-Notebooks/blob/main/Day_04_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day 4 Notebook**

**Program to copy common elements of two lists into an empty list.**

In [28]:
lst1 = [11,25,45,36]
lst2 = [45,36,11,53,69,71]
lst3 =[]
for k in lst1 :
  if k in lst2 :
    lst3.append(k)
print(lst3)

[11, 45, 36]


# List Attributes

In [29]:
lst = [45,36,11,53,69,71]
print("Sum of elements =",sum(lst)) # gives the sum of all elements of an integer list
print("Length of list =",len(lst)) # gives the length of the list or total number of elements present in the list
print("Maximum Element :",max(lst)) # returns max value from a list
print("Minimum Element :",min(lst)) # returns min value from a list

Sum of elements = 285
Length of list = 6
Maximum Element : 71
Minimum Element : 11

In [30]:
# Finding Average of list elements 
avgf = sum(lst) / len(lst)
avgi = sum(lst) // len(lst)
print("Average of elements :",avgf)
print("Average of elements :",avgi)

Average of elements : 47.5
Average of elements : 47

In [31]:
# Finding Occurrence of specified element
lst2 = [44,21,21,85,98,21,36,21]
print("Number of occurences of element 21 :",lst2.count(21)) # tells how many occurences of element '21' in list

Number of occurences of element 21 : 4

**Finding index of an element of a list using *index( )* method**

In [32]:
# CASE(1): Finding index of unique elements
print("Index of 98 :",lst2.index(98)) # returns index of first occurence of element if redundant element present

Index of 98 : 4

*Program to print the values along with their index position of a list.*

In [33]:
# CASE(2): Finding indices of all elements (redundant elements included)
for k in range(len(lst2)) :
  print("Element",k,":",lst2[k])

Element 0 : 44
Element 1 : 21
Element 2 : 21
Element 3 : 85
Element 4 : 98
Element 5 : 21
Element 6 : 36
Element 7 : 21

*Enumerate Function*

In [34]:
# CASE (3): Finding indices of redundant elements using 'enumerate()' function.
for l,m in enumerate(lst2) :
  print("Value at index",l,":",m)

Value at index 0 : 44
Value at index 1 : 21
Value at index 2 : 21
Value at index 3 : 85
Value at index 4 : 98
Value at index 5 : 21
Value at index 6 : 36
Value at index 7 : 21

In [35]:
for m,l in enumerate(lst2) : # changing positions of 'l' and 'm'
  print("value =",l,"at index",m)

value = 44 at index 0
value = 21 at index 1
value = 21 at index 2
value = 85 at index 3
value = 98 at index 4
value = 21 at index 5
value = 36 at index 6
value = 21 at index 7

**Using *enumerate* function we can start the indices from any number of our choice.**

In [36]:
for l,m in enumerate (lst2,250) : # indices have become now serial numbers  and so will start from '250'
  print(l,"--->",m)

250 ---> 44
251 ---> 21
252 ---> 21
253 ---> 85
254 ---> 98
255 ---> 21
256 ---> 36
257 ---> 21

### Facebook Interview Question

**Find all elements present in list 1 (all occurences) which are also present in list 2 and append their indices in the third list.**

In [37]:
l1 = [55,24,36,14,95,36]
l2 = [95,36]
l3 = []
for j in range(len(l1)) :
  if l1[j] in l2 :
    l3.append(j)
print("New list :",l3)

New list : [2, 4, 5]

**Copy all the redundant elements of a list into another list using count( ) method.**

In [38]:
x = [5, 2, 3, 4, 5, 6, 2, 3, 6]
y = []
for k in range(len(x)) :
  if x.count(k) > 1 :
    y.append(k)
print("New List:",y)

New List: [2, 3, 5, 6]

**Find average of list elements using *list comprehension*. Input values should be *user-defined* & space separated.**

In [40]:
# LOGIC - 1
ts = int(input('How many subjects :'))
print("Enter the Subject marks space separated :")
m = [int(j) for j in input().split(',')]
avg = sum(m)/ts
if len(m) == ts:
  print("Average Marks = ",avg)
elif len(m) > ts :
  print("More than required subjects....")
else:
  print("You've skipped one or more subjects.....")

How many subjects :3
Enter the Subject marks space separated :
12,15,17
Average Marks =  14.666666666666666

In [41]:
# LOGIC - 2
ts = int(input('How many subjects :'))
print("Enter the Subject marks space separated :")
m = [int(j) for j in input().split(',')[:ts]]
avg = sum(m)/ts
print("Average Marks = ",avg)

How many subjects :5
Enter the Subject marks space separated :
12,14,17,19,15
Average Marks =  15.4

# String Attributes

In [42]:
# Formatting of Strings
mystr = 'JavaScript'
mystr2 = 'HTML'
print('{} is tough'.format(mystr))
print('{0} is tough but {1} is easy'.format(mystr,mystr2)) 
print(f'{mystr2} is easy') 
# '{}' is a place holder

JavaScript is tough
JavaScript is tough but HTML is easy
HTML is easy

**Some string functions returning boolean values ('True' & 'False')**

In [43]:
str3 = 'JAVA'
str4 = 'C++ is very difficult'
print(str4.startswith('C++')) # checks for first word in given string
print(str4.endswith('difficult')) # checks for last word in given string

True
True

In [44]:
print(str4.isalnum()) # checks whether alphanumeric charaters present in string

False

In [45]:
# 'isalpha()' checks for alphabets present or not
print(str3.isalpha()) # true as no spaces present
print(str4.isalpha()) # false because spaces present in between

True
False

In [46]:
print(str4.isdigit()) # checks for numbers present or not

False

In [47]:
s1 = '6299'
print(s1.isdigit())

True

In [48]:
s1 = 6299
print(s1.isdigit())

AttributeError: ignored

**Some Strip Operations in strings**

In [49]:
s1 = '  Java  '
print(s1.strip()) # removes spaces from both sides
s2 = 'C++  '
print (s2.rstrip()) # removes spaces from right side
s3 = '  Python'
print(s3.lstrip()) # removes spaces from left side

Java
C++
Python