<a href="https://colab.research.google.com/github/kinshuk-code-1729/Python-Training-Notebooks/blob/main/Day_06_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day 6 Notebook**
## ***Sets in Python***

*Set is an **unordered** collection of elements which are **unique**. Sets are  mutable.*
*   **unordered** means indexing is not possible in sets.
*   **unique** means repeated elements are not there in sets.

In [1]:
player_name = {'Dhoni','Jadeja','Kohli'}
print("Set :",player_name)
print(type(player_name))

Set : {'Dhoni', 'Jadeja', 'Kohli'}
<class 'set'>

***Empty Sets***

In [2]:
s = {} # this will create an empty dictionary not an empty set
print(type(s))

<class 'dict'>

In [3]:
s = set() # we use 'set' keyword to create an empty set
print(type(s))

<class 'set'>

## ***Converting a list into a set.***

In [4]:
player_name = ['Dhoni','Jadeja','Kohli']
print("List :",player_name)
print(type(player_name))

List : ['Dhoni', 'Jadeja', 'Kohli']
<class 'list'>

In [5]:
player_name = ['Dhoni','Jadeja','Kohli']
st = set(player_name) # making a set from a list
print("Set is :",st)
print(type(st))

Set is : {'Dhoni', 'Jadeja', 'Kohli'}
<class 'set'>

*Set is unordered so we can't perform indexing here.*

In [6]:
player_name = 'Dhoni','Jadeja','Kohli'
st = set(player_name)
print("Set is :",st) # prints the set in random order
print(type(st))

Set is : {'Dhoni', 'Jadeja', 'Kohli'}
<class 'set'>

In [7]:
player_name = 'Dhoni','Jadeja','Kohli'
set(player_name) # order is being changed from previous output

{'Dhoni', 'Jadeja', 'Kohli'}

*Unique elements inside a set.*

In [8]:
player_name = 'Dhoni','Jadeja','Kohli','Jadeja'
set(player_name) # prints unique elements and leaves redundant elements

{'Dhoni', 'Jadeja', 'Kohli'}

## *Operations on Sets.*

In [9]:
# 1. Length of a set
player_name = {'Dhoni','Jadeja','Kohli'}
print("Length =",len(player_name)) # 'len()' function gives length of a set.

Length = 3

In [10]:
# 2. Membership using 'in' and 'not in'
'Jadeja' in player_name # returns boolean value

True

In [11]:
'Maxwell' in player_name

False

In [12]:
'Maxwell' not in player_name

True

## **Set Features :**
1. *union*
2. *intersection*
3. *difference*
4. *issubset*
5. *issuperset*
6. *isdisjoint*
7. *Symmetric-Difference*

#### **1. Union in sets :** *Union* means joining all elements together.

In [13]:
# Method-1 : Union using 'pipe(|)' operator.
cricketers = {'Dhoni','Jadeja','Kohli'}
footballers = {'Messi','Ronaldo','Neymar'}
print("Union :",cricketers | footballers)

Union : {'Dhoni', 'Ronaldo', 'Jadeja', 'Neymar', 'Kohli', 'Messi'}

In [14]:
# Method-2 : Union using 'union()' method.
print("Union :",cricketers.union(footballers))

Union : {'Dhoni', 'Ronaldo', 'Jadeja', 'Neymar', 'Kohli', 'Messi'}

**Is there any difference between *union( )* method and *pipe*( | ) operator ??**

In [15]:
print(cricketers | ('Messi','Ronaldo','Neymar'))

TypeError: ignored

In [16]:
# 'union()' converts the passed tuple into a set at the backend. 
print(cricketers.union(('Messi','Ronaldo','Neymar')))

{'Jadeja', 'Kohli', 'Dhoni', 'Ronaldo', 'Neymar', 'Messi'}

***union( )*** method can perform union operation on either **two-sets** or **one set** and **one non set element** , whereas **pipe( | )** operator takes **two set elements only** for performing union otherwise throws an error.

####**2. Intersection in sets :** *Intersection* means listing common elements together.

In [17]:
# Method-1 : Intersection using 'ampersand(&)' operator.
cricketers = {'Dhoni','Jadeja','Kohli'}
footballers = {'Messi','Ronaldo','Neymar'}
print("Intersection :",cricketers & footballers) # intersection ---> returns common values if present otherwise returns empty set.

Intersection : set()

In [18]:
cricketers = {'Dhoni','Jadeja','Kohli'}
footballers = {'Messi','Ronaldo','Neymar','Jadeja'}
print("Intersection :",cricketers & footballers)

Intersection : {'Jadeja'}

In [19]:
# Method-2 : Intersection using 'intersection()' method.
print("Intersection :",cricketers.intersection(footballers))

Intersection : {'Jadeja'}

***intersection( )*** method can perform intersection operation on either **two-sets** or **one set** and **one non set element** , whereas **ampersand( & )** operator takes **two set elements only** for performing intersection otherwise throws an error.

#### **3. Difference in sets :** *Difference* returns the values which are present **in one set** but **not in another set**.

In [20]:
# Elements present in "cricketers" but not in "footballers".
cricketers = {'Dhoni','Jadeja','Kohli'}
footballers = {'Messi','Ronaldo','Neymar','Jadeja'}
print("Difference :",cricketers - footballers) # the elements of set written first will be checked in both sets (order matters)

Difference : {'Dhoni', 'Kohli'}

In [21]:
# Elements present in "footballers" but not in "cricketers".
cricketers = {'Dhoni','Jadeja','Kohli'}
footballers = {'Messi','Ronaldo','Neymar','Jadeja'}
print("Difference :",footballers - cricketers) # the elements of set written first will be checked in both sets (order matters)

Difference : {'Ronaldo', 'Neymar', 'Messi'}

#### **4. issubset( ) in sets :** all elements of one set are also present in another set.

In [22]:
cricketers = {'Dhoni','Jadeja','Kohli'}
footballers = {'Messi','Ronaldo','Neymar','Jadeja'}
print(footballers <= cricketers) # "<=" operator is used for issubset.

False

In [23]:
print(cricketers <= footballers) # returns true if set 1 is subset of set 2.

False

In [24]:
countries_1 = {'India','Sri Lanka'}
countries_2 = {'India','Sri Lanka','Nepal','China'}
print(countries_1 <= countries_2)

True

In [25]:
print(countries_2 <= countries_1)

False

#### **5. issuperset( ) in sets :** if a set contains all the elements of another set.

In [26]:
print(countries_1 >= countries_2) # ">=" operator is used for issuperset.

False

In [27]:
print(countries_2 >= countries_1) # returns true if set 1 is superset of set 2.

True

#### **6. isdisjoint( ) in sets :** checks whether two sets are having any elements in common or not.

In [28]:
countries_1 = {'India','Sri Lanka'}
countries_2 = {'India','Sri Lanka','Nepal','China'}
print(countries_1.isdisjoint(countries_2)) # returns 'False' as common elements present

False

In [29]:
print(countries_2.isdisjoint(countries_1)) # returns 'False' as common elements present

False

In [30]:
countries_1 = {'India','Sri Lanka'}
countries_2 = {'Nepal','China'}
print(countries_1.isdisjoint(countries_2)) # returns 'True' as no common element present

True

In [31]:
print(countries_2.isdisjoint(countries_1)) # returns 'True' as no common element present

True

#### **7. Symmetric Difference in sets :** It returns all those values which are present in either first set or second set but not in both the sets.

In [32]:
# Generates a set having elements which are not common in either 1st set or 2nd set.
cricketers = {'Dhoni','Jadeja','Kohli'}
footballers = {'Messi','Ronaldo','Neymar','Jadeja'}
print(cricketers.symmetric_difference(footballers)) # it is an opposite of intersection

{'Kohli', 'Dhoni', 'Ronaldo', 'Neymar', 'Messi'}

In [33]:
print(cricketers ^ footballers) # 'carat(^)' denotes symmetric difference

{'Kohli', 'Dhoni', 'Ronaldo', 'Neymar', 'Messi'}

### ***Adding Elements in a set.***
We use *add( )* method to accomplish this task . *add( )* takes those elements to be passed as an argument which are of immutable type like strings, tuples,etc.

In [34]:
cricketers = {'Dhoni','Jadeja','Kohli'}
cricketers.add('Rohit') # 'add()' takes exactly one argument
cricketers

{'Dhoni', 'Jadeja', 'Kohli', 'Rohit'}

In [35]:
cricketers.add('Pujara','Shikhar') # 'add()' takes exactly one argument
cricketers

TypeError: ignored

In [36]:
cricketers.add(['Pujara','Shikhar']) # 'add()' doesn't accepts list as an argument
cricketers

TypeError: ignored

In [37]:
cricketers.add({'Pujara','Shikhar'}) # 'add()' doesn't accepts set as an argument
cricketers

TypeError: ignored

In [38]:
# Entire tuple will be passed as a single argument in 'add()' method 
cricketers.add(('Pujara','Shikhar')) # 'add()' accepts tuple as a valid argument
cricketers

{('Pujara', 'Shikhar'), 'Dhoni', 'Jadeja', 'Kohli', 'Rohit'}

### *Removing Elements from a Set.*

In [39]:
# Method 1 : Using 'remove()' function.
cric = {'Dhoni', 'Jadeja', 'Kohli', 'Rohit'}
cric.remove('Kohli')
cric

{'Dhoni', 'Jadeja', 'Rohit'}

In [40]:
# Method 2 : Using 'discard()' function.
cric = {'Dhoni', 'Jadeja', 'Kohli', 'Rohit'}
cric.discard('Kohli')
cric

{'Dhoni', 'Jadeja', 'Rohit'}

In [41]:
cric = {'Dhoni', 'Jadeja', 'Rohit'}
cric.remove('Kohli') # throws key error as key is not present
cric

KeyError: ignored

In [42]:
cric = {'Dhoni', 'Jadeja', 'Rohit'}
cric.discard('Kohli') # doesn't throws any key error if the element is not present in set
cric

{'Dhoni', 'Jadeja', 'Rohit'}

In [43]:
# Method 3 : 'pop()'
cric.pop() # it will remove element randomly as set doesn't has any specified order
cric

{'Jadeja', 'Rohit'}

In [44]:
cric.pop()
cric

{'Jadeja'}

In [45]:
cric.pop()
cric

set()

In [46]:
cric.pop() # throws an error if the set is empty
cric

KeyError: ignored

In [47]:
# Method 4 : 'clear()' ---> deletes all the elements of the set
cric = {'Dhoni', 'Jadeja', 'Rohit'}
cric.clear()
cric

set()

In [48]:
cric = {'Dhoni', 'Jadeja', 'Rohit'}
cric.pop('Jadeja') # pop() takes no arguments
cric

TypeError: ignored

### *Augmented Assignment Operator.*

In [49]:
# x = x + y
# x += y

In [50]:
# p = p | q
# p |= q

In [51]:
# m.union(n) --> m.union_update(n)
# m.intersection(n) --> m.intersection_update(n)

### **Frozen Sets** : We're making the sets immutable.

In [52]:
cric = frozenset(['Dhoni', 'Jadeja', 'Rohit'])
print(cric)
print(type(cric))

frozenset({'Dhoni', 'Rohit', 'Jadeja'})
<class 'frozenset'>

In [53]:
cric.pop()
cric

AttributeError: ignored

In [54]:
cric.clear()
cric

AttributeError: ignored

In [55]:
cric.add('Murali')
cric

AttributeError: ignored

In [56]:
cric = frozenset(['Dhoni', 'Jadeja', 'Rohit'])
print(cric) # frozenset at some location
t20_cric = {'Bravo','Hetmeyer','Pollard'}
cric |= t20_cric # cric.union(t20_cric) --> cric.union_update(t20_cric)
print(cric) # after union new set at new location

frozenset({'Dhoni', 'Rohit', 'Jadeja'})
frozenset({'Dhoni', 'Pollard', 'Jadeja', 'Rohit', 'Bravo', 'Hetmeyer'})

In [57]:
cric = frozenset(['Dhoni', 'Jadeja', 'Rohit'])
print(id(cric)) # address of set "cric"
t20_cric = {'Bravo','Hetmeyer','Pollard'}
cric |= t20_cric # cric.union(t20_cric) --> cric.union_update(t20_cric)
print(id(cric)) # different address of "cric" ---> new memory location

140659147266480
140659147267440

### ***Set Comprehension***

In [58]:
lst = [8,6,1,4,6,4,7,9,3,8]
myset = {k for k in lst}
print(myset) # redundant elements get removed and unique elements get stored in set

{1, 3, 4, 6, 7, 8, 9}