<a href="https://colab.research.google.com/github/kinshuk-code-1729/Python-Training-Notebooks/blob/main/Day_01_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Day 1 Notebook***

**Checking installed version**

In [1]:
from platform import python_version as ver
print(ver())

3.7.13

In [2]:
m = 420
print("m =",m)

m = 420

**Checking address of variable in memory**

In [3]:
print("Address of m : ",id(m))

Address of m :  140092535128688

**Same values have same address**

In [4]:
x = 45
y = 37 + 8 
print("address of x : ",id(x))
print("address of y : ",id(y))

address of x :  11257472
address of y :  11257472

In [5]:
p = 112
q = 109 + 2
print("address of p : ",id(p))
print("address of q : ",id(q))

address of p :  11259616
address of q :  11259584

In [6]:
u = 257
v = 248 + 9 #upto 256 is true in ver. 3.7  
print("address of x : ",id(u))
print("address of y : ",id(v))
print(u == v) # '==' is equality operator
print(u is v) # 'is' acts as equality operator but is relational

address of x :  140092535181808
address of y :  140092535182544
True
False

**Orphan Object**

In [7]:
k = 154
print("Firstly k =",k)
k = 646
print("Now k =",k) #Now 'k' points to 646 and previous value 154 is an orphan object

Firstly k = 154
Now k = 646

*Taking input from user*

In [8]:
h = int(input("Enter a num : "))
print("h = ",h)
f = 120 #This is hard-code
print("val of f is = ",f)

Enter a num : 5
h =  5
val of f is =  120

##Multiplication Code

In [9]:
num1 = int(input("Enter val1 : ")) 
num2 = int(input("Enter val2 : "))
print("Product =",num1*num2)

Enter val1 : 5
Enter val2 : 4
Product = 20

###If 'int' not specified in 'input' then by default input behaves as string

In [10]:
name = "Kinshuk"
mssg = input("Enter Greeting Message... : ")
print(mssg + name,"!!!!!")

Enter Greeting Message... : Bbye
Bbye Kinshuk !!!!!

**Declare & Assign Multiple variables in single-line**

In [11]:
x,y,z = 15,65,68
print("x =",x,"y =",y,"z =",z)

x = 15 y = 65 z = 68

*We use underscore in place of empty variable*

In [12]:
p,q,_ = 45,47,55
print("p =",p,"q =",q,"last =",_)

p = 45 q = 47 last = 55

using asterisk(*) we can assign multiple vals to a variable

In [13]:
d,*e = 41,36,44,98,76
print(d,e)

41 [36, 44, 98, 76]

**Taking input using separator**

In [16]:
r,k,rs= input().split() # 'split' takes an argument by default as a single space
print(r,k,rs)
# we can also add split value using single quote string values

Steve Thor Hulk
Steve Thor Hulk

**Finding greater value among two vals**

In [17]:
x = int(input("Enter num 1 : "))
y = int(input("Enter num 2 : "))
if x>y :
  print("Larger value is ",x)
else :
  print("Larger value is ",y)

Enter num 1 : 5
Enter num 2 : 6
Larger value is  6

**elif** statement b/w **if** & **else** blocks

In [18]:
m = int(input("Enter num 1 : "))
n = int(input("Enter num 2 : "))
if m>n :
  print("Larger value is ",m)
elif m==n:
  print("Both numbers are equal")  # elif is short-form of 'else-if' statements
else :
  print("Larger value is ",n)

Enter num 1 : 25
Enter num 2 : 25
Both numbers are equal

2# Swapping two values based after checking a condition

In [19]:
n1 = int(input("Enter val 1 : "))
n2 = int(input("Enter val 2 : "))
if n1>n2 :
  n1,n2 = n2,n1
  print("Swapped values are n1 =",n1,"and n2 =",n2)
else:
  print("Unswapped values are n1 =",n1,"and n2 =",n2)

Enter val 1 : 25
Enter val 2 : 14
Swapped values are n1 = 14 and n2 = 25

In [20]:
n1 = int(input("Enter val 1 : "))
n2 = int(input("Enter val 2 : "))
if n1>n2 :
  if n1> 15 :   #nested if-else block
    n1,n2 = n2,n1
    print("Swapped values are n1 =",n1,"and n2 =",n2)
  else:
    print("Unswapped values are n1 =",n1,"and n2 =",n2)
else:
  print("Unswapped values are n1 =",n1,"and n2 =",n2)

Enter val 1 : 26
Enter val 2 : 51
Unswapped values are n1 = 26 and n2 = 51

In [21]:
n1 = int(input("Enter val 1 : "))
n2 = int(input("Enter val 2 : "))
if n1>n2 and n1>10 :
  n1,n2 = n2,n1
  print("Swapped values are n1 =",n1,"and n2 =",n2)
else:
  print("Unswapped values are n1 =",n1,"and n2 =",n2)

Enter val 1 : 25
Enter val 2 : 14
Swapped values are n1 = 14 and n2 = 25

**Leap Year or not**

In [22]:
y = int(input("Enter an year : "))
if ((y % 4 == 0 and y % 100 != 0) or (y % 400 == 0)) : 
    print(y,"is a leap year")
else :
  print(y,"is not a leap year")

Enter an year : 2100
2100 is not a leap year

#Loops in Python

**For loop**

In [23]:
''' for <variable> in range (start , stop , step) :
1. start val is included
2. stop val is not included
3. step is optional if its +1 '''
for i in range(5):
  print(i)

x = int(input("Enter a val. ---> "))
for j in range(1,x):
  print(j)

y = int(input("Enter another val .......  "))
for k in range(3,y,4):
  print(k)

0
1
2
3
4
Enter a val. ---> 5
1
2
3
4
Enter another val .......  7
3

**Factorial of a number**

In [24]:
num = int(input("Enter any number : "))
fact = 1
if num < 0:
  print("Sorry !!!, factorial for -ve values do not exist....")
  print("Try again with positive value.....")
else :
  for i in range(1,num+1):
    fact *= i  # short-cut operator for 'fact = fact*i'
    print("for i =",i,"fact =",fact)
  print("Finally",num,"! =",fact)

Enter any number : 10
for i = 1 fact = 1
for i = 2 fact = 2
for i = 3 fact = 6
for i = 4 fact = 24
for i = 5 fact = 120
for i = 6 fact = 720
for i = 7 fact = 5040
for i = 8 fact = 40320
for i = 9 fact = 362880
for i = 10 fact = 3628800
Finally 10 ! = 3628800

**Prime no. or not**

In [25]:
# Logic 1
n = int(input("Enter a number : "))
for i in range(2,n) :
  if n % i == 0 :
    print(n,"is not prime")
    break
else :
  print(n,"is prime")

Enter a number : 97
97 is prime

In [26]:
# Logic 2
n = int(input("Enter a number : "))
k = 0
m = n//2
for i in range(2,m+1) :
  if n % i == 0 :
    k = 1

if k == 1 :
  print(n,"is not prime")
else :
  print(n,"is prime")

Enter a number : 101
101 is prime

**Installing a library in jupyter via internet**

In [27]:
!pip install abhiprime # we use 'pip' command to install any library in python 
# '!' is used to run the statement as a cmd command in jupyter notebook

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting abhiprime
  Downloading abhiprime-6.0.0-py3-none-any.whl (3.7 kB)
Installing collected packages: abhiprime
Successfully installed abhiprime-6.0.0

In [29]:
from abhiprime import *
num = int(input("Enter a number : "))
chk = test_prime(n)
if chk :
  print(num,"is prime")
else :
  print(num,"is not prime")

Enter a number : 17
17 is prime

In [30]:
prev_prime(100)

97

In [31]:
next_prime(100)

101

In [32]:
range_prime(10,100)

11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [33]:
fib_prime(17)

2 3 5 13

In [34]:
sqrt(400)

20.0

In [35]:
prime_factor(56)

[2, 2, 2, 7]

In [36]:
prime_upto(12)

[2, 3, 5, 7, 11]

**Program to print the following**

*5 X 4 = 20*

*4 X 3 = 12*

*3 X 2 = 6*

*2 X 1 = 1*

In [37]:
val1  = int(input("Enter 1st value : "))
val2  = int(input("Enter 2nd value : "))
while (val1 and val2) != 0:
  val3 = val1 * val2
  print(val1,'X',val2,'=',val3)
  val1 -= 1
  val2 -= 1

Enter 1st value : 5
Enter 2nd value : 4
5 X 4 = 20
4 X 3 = 12
3 X 2 = 6
2 X 1 = 2